<ion-card (click)="openDetail()" class="incident-card">

  <div class="severity-bar" [ngClass]="incident.severity"></div>

  <div class="card-content">

    <div class="header">

      <div class="left">
        <span class="severity-badge" [ngClass]="incident.severity">
          {{ incident.severity }}
        </span>

        <h2>{{ incident.title }}</h2>
      </div>

      <div class="status-container">
        <span class="status" [ngClass]="incident.status">
          {{ incident.status }}
        </span>

        <ion-icon name="chevron-forward-outline"></ion-icon>
      </div>

    </div>

    <p>{{ incident.description }}</p>

    <div class="footer">
      <span class="time">
        <ion-icon name="time-outline"></ion-icon>
        {{ getTimeAgo() }}
      </span>
    </div>

  </div>

</ion-card>