ion-card {
  border-radius: 12px;
  margin: 10px;
}

.incident-card {
  display: flex;
  border-radius: 16px;
  overflow: hidden;
  margin: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);

  background: white;
}



.severity-bar {
  width: 5px;
}

.severity-bar.P1 {
  background: #ef233c;
}

.severity-bar.P2 {
  background: #f77f00;
}

.severity-bar.P3 {
  background: #ffbe0b;
}


.card-content {
  padding: 14px;
  width: 100%;
}



.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 12px;
}



.left-section {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  flex: 1;
}

.text-content {
  flex: 1;
}



.severity-badge {
  min-width: 34px;
  height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 8px;

  font-weight: 700;
  font-size: 12px;

  color: white;

  flex-shrink: 0;
}

.severity-badge.P1 {
  background: #ef233c;
}

.severity-badge.P2 {
  background: #f77f00;
}

.severity-badge.P3 {
  background: #ffbe0b;
}



.status-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.status {
  padding: 4px 10px;
  border-radius: 10px;
  font-size: 11px;
  font-weight: 700;
  white-space: nowrap;
}

.status.OPEN {
  background: #ffe5e5;
  color: #d90429;
}

.status.ACKNOWLEDGED {
  background: #e5edff;
  color: #4361ee;
}

.status.RESOLVED {
  background: #e8ffef;
  color: #2b9348;
}



h2 {
  margin: 0;
  font-size: 15px;
  font-weight: 700;
  color: #1f1f1f;
}



p {
  margin: 4px 0 0;
  color: #666;
  font-size: 13px;
  line-height: 1.4;
}



.footer {
  margin-top: 10px;
  padding-left: 44px;
}

.time {
  display: flex;
  align-items: center;
  gap: 6px;

  font-size: 12px;
  color: #888;
}