<ion-card
  (click)="openDetail()"
  class="incident-card">

  <div
    class="severity-bar"
    [ngClass]="incident.severity">
  </div>

  <div class="card-content">

    <div class="header">

      <div class="left-section">

        <span
          class="severity-badge"
          [ngClass]="incident.severity">

          {{ incident.severity }}

        </span>

        <div class="text-content">

          <h2>{{ incident.title }}</h2>

          <p>{{ incident.description }}</p>

        </div>

      </div>

      <div class="status-container">

        <span
          class="status"
          [ngClass]="incident.status">

          {{ incident.status }}

        </span>

        <ion-icon
          name="chevron-forward-outline">
        </ion-icon>

      </div>

    </div>

    <div class="footer">

      <span class="time">

        <ion-icon
          name="time-outline">
        </ion-icon>

        {{ timeAgo }}

      </span>

    </div>

  </div>

</ion-card>