<ion-header>
  <ion-toolbar color="dark" class="custom-toolbar">

    
    <ion-buttons slot="start">
      <ion-button (click)="openMenu()">
        <ion-icon name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons>

    <ion-title>Incident Tracker</ion-title>

  
    <ion-buttons slot="end">
      <ion-button (click)="openNotifications($event)">
        <ion-icon name="notifications-outline"></ion-icon>

       
        <ion-badge color="danger" class="notif-badge">
          1
        </ion-badge>
      </ion-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>

 
  <div *ngIf="hasCriticalAlert" class="alert-banner">
    ⚠️ Incidente crítico sin atender
  </div>

  <!-- LOADING -->
  <div *ngIf="loading" class="center">
    <ion-spinner></ion-spinner>
  </div>

  <!-- ERROR -->
  <div *ngIf="error" class="center">
    <p>Error cargando incidentes</p>
  </div>

  <!-- EMPTY -->
  <div *ngIf="!loading && incidents.length === 0" class="center">
    <p>No hay incidentes</p>
  </div>

  <!-- LISTA -->
  <ion-list *ngIf="!loading && incidents.length > 0">
    <app-incident-card
      *ngFor="let incident of incidents"
      [incident]="incident">
    </app-incident-card>
  </ion-list>

</ion-content>